/* General body styling */
body {
	margin: 0;
	background-color: #130b0f;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

/* Particles background */
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

h1 {
	font-size: 5em;
	font-family: "Cinzel", serif;
	color: #d8a75c;
	text-align: left;
	margin-left: 40px;
	margin-top: 20px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: left;
	margin-left: 40px;
	margin-top: -30px;
}

/* Sidebar styling */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: #402531;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	transition: transform 0.3s ease;
	z-index: 3;
}

#sidebar.open {
	transform: translateX(0);
}

.sidebar-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.logo {
	width: 32px;
	height: auto;
	margin-right: 10px;
}

.sidebar-title {
	font-size: 1.5em;
	font-family: serif;
	color: #d8a75c;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar-nav button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #402531;
	color: #ffffff;
	cursor: pointer;
	font-family: "Merriweather", serif;
	text-align: left;
	font-size: 1em;
}

.sidebar-nav button:hover {
	background-color: #fac06a;
}

/* Hamburger menu styling */
#hamburger-menu {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 1.5em;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	z-index: 2;
}

/* Main content styling */
main {
	margin-left: 250px;
	transition: margin-left 0.3s ease;
}

/* Footer styling */
footer {
	width: 100%;
	padding: 5px 0;
	font-family: sans-serif;
	background-color: #402531;
	color: #fff;
	text-align: center;
	margin-top: auto;
	overflow: hidden;
	z-index: 2;
}

.footer-text p {
	margin: 0;
	font-size: 0.9em;
	white-space: nowrap;
	display: inline-block;
	animation: scroll-left 20s linear infinite;
	min-width: 85%;
}

@keyframes scroll-left {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* Responsive adjustments */
@media (max-width: 900px) {
	#sidebar {
		transform: translateX(-100%);
	}

	#hamburger-menu {
		display: block;
	}

	main {
		margin-left: 0;
		padding: 10px;
	}

	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1em;
	}

	.footer-text p {
		min-width: 100%;
	}
}
