body {
	margin: 0;
	background-color: #130b0f;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1; /* Ensure it's behind other content */
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	color: #0f0f0f;
	background-color: #402531;
}

.logo {
	position: absolute; /* Position it absolutely */
	top: 10px; /* Distance from the top */
	left: 10px; /* Distance from the left */
	width: 42px; /* Set the width of the logo */
	height: auto; /* Maintain aspect ratio */
}

.button-container {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	width: 100%;
}

button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #d8a75c;
	color: #402531;
	cursor: pointer;
	font-family: sans-serif;
}

#about {
	padding: 10px 20px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	cursor: pointer;
}

#about:hover {
	border: 2px solid #e6e6e6;
	background-color: #e6e6e6;
	color: #000000;
}

button:hover {
	background-color: #fac06a;
}

main {
	text-align: center;
}

@keyframes floatUph1 {
	0% {
	  top: 100px;  /* Initial position */
	  opacity: 0;
	}
	100% {
	  top: 80px;  /* Final position (move up) */
	  opacity: 1;
	}
}

@keyframes floatUph2 {
	0% {
	  top: 360px;  /* Initial position */
	  opacity: 0;
	}
	100% {
	  top: 340px;  /* Final position (move up) */
	  opacity: 1;
	}
}

h1 {
	font-size: 80px;
	font-family: serif;
	margin: 0;
	color: #d8a75c;
	text-align: left;
	position: absolute; /* Position relative to nearest positioned ancestor */
	left: 40px;
	padding: 20px; /* Optional: Adds some padding around the text */
	animation: floatUph1 0.5s ease-out forwards;
	animation-delay: 0.2s;
	opacity: 0;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	font-family: sans-serif;
	margin: 0;
	color: #ffffff;
	text-align: left;
	position: absolute; /* Position relative to nearest positioned ancestor */
	left: 40px;
	padding: 20px; /* Optional: Adds some padding around the text */
	animation: floatUph2 0.5s ease-out forwards;
	animation-delay: 0.8s;
	opacity: 0;
}

/* Footer styling */
footer {
    width: 100%;
    padding: 5px 0;
	font-family: sans-serif;
    background-color: #402531;
    color: #fff;
    text-align: center;
    margin-top: auto;
    overflow: hidden; /* Ensures text hides when outside viewport */
}

/* Footer text with continuous scrolling animation */
.footer-text p {
    margin: 0;
	font-family: sans-serif;
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
    animation: scroll-left 15s linear infinite; /* Adjust duration to control scroll speed */
    min-width: 65%; /* Ensure it spans the entire width of the footer */
}

/* Keyframes for scrolling left to right and restarting from left */
@keyframes scroll-left {
    0% {
        transform: translateX(-100%); /* Start off the left side */
    }
    100% {
        transform: translateX(100%); /* Move to the right side off the screen */
    }
}

/* Responsive adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .scrollable-list {
        padding: 15px;
    }

    .event-item h2 {
        font-size: 1.1em;
    }
}

