/* General body styling */
body {
	margin: 0;
	background-color: #130b0f;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden; /* Prevent horizontal scrolling */
	overflow-y: auto;
	box-sizing: border-box;
}

/* Particles background */
#particles-js {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}

h1 {
	font-size: 5em;
	font-family: "Cinzel", serif;
	color: #d8a75c;
	text-align: left;
	margin-left: 40px;
	margin-top: 8px;
	padding-right: 20px;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: left;
	margin-left: 40px;
	margin-top: -40px;
	padding-right: 20px;
	line-height: 2.3;
}

/* Sidebar styling */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
	background-color: #402531;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 0px;
	box-sizing: border-box;
	transition: transform 0.3s ease;
	z-index: 2;
}

#sidebar.open {
	transform: translateX(0);
}

.sidebar-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.logo {
	width: 32px;
	height: auto;
	margin-left: 20px;
	margin-top: 15px;
}

.sidebar-title {
	font-size: 1.5em;
	font-family: "Cinzel", serif;
	font-weight: bold;
	color: #d8a75c;
	margin-left: 10px;
	margin-top: 18px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar-nav button {
	border: none;
	background-color: #402531;
	color: #ffffff;
	cursor: pointer;
	font-family: "Merriweather", serif;
	text-align: left;
	font-size: 0.9em;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.sidebar-nav button:hover {
	background-color: #fac06a;
	color: #402531;
}

/* Ensure the icon and text are aligned horizontally */
.sidebar-nav button .material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	margin-right: 10px; /* Space between the icon and text */
	vertical-align: text-bottom; /* Aligns the icon with the text */
	font-size: 20px;
}

/* Hamburger menu styling */
#hamburger-menu {
	margin-top: 15px;
	margin-left: 25px;
	font-size: 1.5em;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	z-index: 1;
}

/* Main content styling */
main {
	margin-left: 250px;
	transition: margin-left 0.3s ease;
	width: 100vw; /* Prevent horizontal overflow */
	overflow-x: hidden;
	box-sizing: border-box;
}

/* Footer styling */
footer {
	width: 100vw;
	padding: 5px;
	font-family: "Poppins", sans-serif;
	background-color: #402531;
	color: #fff;
	text-align: center;
	margin-top: auto;
	z-index: 2;
	box-sizing: border-box;
	overflow-x: hidden;
}

.footer-text p {
	margin: 0;
	font-size: 0.9em;
	white-space: nowrap;
	display: inline-block;
	animation: scroll-left 20s linear infinite;
	min-width: 90vw;
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/* Responsive adjustments */
@media (max-width: 900px) {
	#sidebar {
		transform: translateX(-100%);
	}

	#hamburger-menu {
		display: block;
	}

	main {
		margin-left: 0;
		padding: 10px;
	}

	h1 {
		font-size: 2.5em;
		margin-left: 15px;
		padding-right: 15px;
	}

	h2 {
		font-size: 1em;
		margin-left: 15px;
		margin-top: -30px;
		padding-right: 15px;
	}

	.footer-text p {
		min-width: 100vw;
	}
}
