/* General body styling */
body {
	margin: 0;
	background-color: #130b0f;
	color: white;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	overflow: auto;
}

/* Particles background */
#particles-js {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	pointer-events: none;
}

h1 {
	font-size: 5rem;
	font-family: "Cinzel", serif;
	color: #d8a75c;
	text-align: left;
	margin-left: 40px;
	margin-top: 25px;
	padding-right: 20px;
	width: 65vw;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: left;
	margin-left: 40px;
	margin-top: -30px;
	padding-right: 20px;
	padding-bottom: 10px;
}

h2 p {
	line-height: 1.3; /* Adjust the line height for paragraphs */
}

/* Sidebar styling */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	background-color: #402531;
	color: white;
	display: flex;
	flex-direction: column;
	padding: 0px;
	box-sizing: border-box;
	transition: transform 0.3s ease;
	z-index: 2;
}

#sidebar.open {
	transform: translateX(0);
}

.sidebar-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sidebar-footer {
	display: flex;
	align-items: left;
	margin-top: auto;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	font-family: "Poppins", sans-serif;
	font-size: 0.9em;
	color: rgba(255, 255, 255, 0.5);
}

.logo {
	width: 32px;
	height: auto;
	margin-left: 20px;
	margin-top: 15px;
}

.sidebar-title {
	font-size: 1.5em;
	font-family: "Cinzel", serif;
	font-weight: bold;
	color: #d8a75c;
	margin-left: 10px;
	margin-top: 18px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sidebar-nav button {
	border: none;
	background-color: #402531;
	color: #ffffff;
	cursor: pointer;
	font-family: "Merriweather", serif;
	text-align: left;
	font-size: 0.9em;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.sidebar-nav button:hover {
	background-color: #fac06a;
	color: #402531;
}

/* Ensure the icon and text are aligned horizontally */
.sidebar-nav button .material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
	margin-right: 10px; /* Space between the icon and text */
	padding-left: 5px;
	vertical-align: text-bottom; /* Aligns the icon with the text */
	font-size: 20px;
}

/* Hamburger menu styling */
#hamburger-menu {
	margin-top: 15px;
	margin-left: 25px;
	width: 20px;
	font-size: 1.5em;
	color: white;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	z-index: 1;
	position: relative;
	padding-bottom: 10px;
}

/* Main content styling */
main {
	margin-left: 250px;
	transition: margin-left 0.3s ease;
	width: calc(100vw - 250px); /* Prevent horizontal overflow */
	box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 900px) {
	#sidebar {
		transform: translateX(-100%);
	}

	#hamburger-menu {
		display: block;
	}

	main {
		margin-left: 0;
		padding: 10px;
		width: 100vw;
	}

	h1 {
		font-size: 2.5em;
		margin-left: 15px;
		margin-top: -20px;
	}

	h2 {
		font-size: 1em;
		margin-left: 15px;
		margin-top: 30px;
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 2em;
	}
}
