body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #402531;
}

#loginCard {
    height: 60%;
    width: 20%;
    padding: 48px 68px;
    background: beige;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
}

h1 {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    margin: 10;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-size: 40px;
    color: #ffffff;
}

.inputField {
    width: 100%;
    padding: 15px;
    color: #ffffff;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
    box-sizing: border-box;
}

#username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 20%;
    padding: 10px;
}

#password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 20%;
    padding: 10px;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 20%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
