body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

h1 {
	text-align: center;
}

#filterDropdown {
	display: block;
	margin: 20px auto;
}

#eventsContainer {
	margin: 20px;
}

.event {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event strong {
	color: #333;
}

.event span {
	color: #555;
}

