body {
	margin: 0;
	font-family: sans-serif;
	background-color: #130b0f;
}

h1 {
	font-family: serif;
	text-align: left;
	margin-left: 20px;
	color: #d8a75c;
	margin-top: 100px;
	font-size: 40px;
}

#eventsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Three boxes per row */
	gap: 20px; /* Space between boxes */
	padding: 20px;
}

.event {
	background-color: #1e1118;
	border-radius: 5px;
	padding: 15px;
	margin: 0; /* Removed margin to use gap from grid */
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.5;
	font-family: sans-serif;
}

#filterContainer {
	display: flex;
	justify-content: right; /* Center-aligns the dropdown */
	margin-top: 10px; /* Space from the header */
	margin-right: 20px;
	margin-bottom: 20px; /* Space between dropdown and event grid */
}

.event a {
	color: #2095f2; /* Change to your preferred color */
	text-decoration: none; /* Removes the underline */
}

.event strong {
	color: #d8a75c;
}

.event span {
	color: #ffffff;
}

#upload {
	padding: 2px 11px;
	border: 2px solid #ffffff;
	font-size: 12px;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	cursor: pointer;
	width: fit-content;
	align-self: flex-start;
	font-family: sans-serif;
}

#upload:hover {
	border: 2px solid #e6e6e6;
	background-color: #e6e6e6;
	color: #000000;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	color: #0f0f0f;
	background-color: #402531;
}

.logo {
	position: absolute; /* Position it absolutely */
	top: 10px; /* Distance from the top */
	left: 10px; /* Distance from the left */
	width: 42px; /* Set the width of the logo */
	height: auto; /* Maintain aspect ratio */
}

.button-container {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	width: 100%;
}

button {
	font-family: sans-serif;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #d8a75c;
	color: #402531;
	cursor: pointer;
}


#logout {
	padding: 10px 20px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: transparent;
	color: #ffffff;
	cursor: pointer;
}

#logout:hover {
	border: 2px solid #e6e6e6;
	background-color: #e6e6e6;
	color: #000000;
}

button:hover {
	background-color: #fac06a;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
	cursor: pointer;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Footer styling */
footer {
    width: 100%;
    padding: 5px 0;
	font-family: sans-serif;
    background-color: #402531;
    color: #fff;
    text-align: center;
    margin-top: auto;
    overflow: hidden; /* Ensures text hides when outside viewport */
}

/* Footer text with continuous scrolling animation */
.footer-text p {
    margin: 0;
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
    animation: scroll-left 15s linear infinite; /* Adjust duration to control scroll speed */
    min-width: 65%; /* Ensure it spans the entire width of the footer */
}

/* Keyframes for scrolling left to right and restarting from left */
@keyframes scroll-left {
    0% {
        transform: translateX(-100%); /* Start off the left side */
    }
    100% {
        transform: translateX(100%); /* Move to the right side off the screen */
    }
}

/* Responsive adjustments */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .scrollable-list {
        padding: 15px;
    }

    .event-item h2 {
        font-size: 1.1em;
    }
}
